<table class="table ib-adm-table" >
    <tr  class="k-block">
        <td width="10%">
            Дата:
        </td>
        <td width="15%" style="font-weight:bold">
            #:kendo.toString(date,"dd.MM.yyyy HH:mm")#
        </td>
        <td width="10%">
            Тема:
        </td>
        <td style="font-weight:bold">
            #:theme#
        </td>


    </tr>
    <tr>
        <td colspan="4">
            <pre style="font-size:large">#:body#</pre>
        </td>
    </tr>
</table>
