<div id="ib_doc_autoComplete_window" class="k-content">
    <input rel="tooltip" title="Поиск в блокноте"
           id="ib_doc_autoComplete"
           style="width:880px"
           data-role="autocomplete"
           data-bind="source:ds,value:selectedItem,events:{select:select,change:change,close:closeCombo}"
           data-animation="false"
           data-suggest="false"
           data-value-primitive="true"
           data-template="templates-autoCompleteTemplate"
           data-text-field="text"
           data-height="550"
           data-placeholder="Введите начальные символы значения для поиска..."
    />
    <!--            data-template="templates-autoCompleteTemplate" -->

</div>
