    <select  class="template-phrases" style='width:450px;'>
        <option rela="vyp_001,vyp_010,vyp_012" value='ИМТ'>ИМТ</option>
        <option rela="vyp_060" value='Все препараты в случае необходимости могут быть заменены на аналогичные в рамках регистра лекарственных средств'>
            Все препараты могут быть заменены ...
        </option>
        <option rela="vyp_040" value='На фоне проводимого лечения отмечается положительная динамика в виде:'>
            Положительная динамика ...
        </option>
        <option rela="vyp_010,vyp_012" value='Эпидемиологический анамнез: контакты с инфекционными, лихорадящими больными, укусы животных и клещей, пребывание в эпидемически опасных очагах отрицает.'>
            Эпидемиологический анамнез (норма) ...
        </option>
    </select>
