<div id="mobile-code-dialog" style="margin-left:5px;margin-right:5px;">
    <table style="width:100%">
        <tr>
            <td>
                1. Зайдите на страницу авторизации на вашем мобильном устройстве<br>
                и обновите ее <em>(нажмите ссылку "Мобильная авторизация")</em>
            </td>
        </tr>
        <tr>
            <td>
                2. Нажмите кнопку "Получить код"
                <div style="margin-top:5px;text-align:center;">
                    <button class="k-button" data-bind="click:getCode,enabled:isGetCodeEnabled">Получить код</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align:center">
                    <h2 data-bind="html:mobileCode"></h2>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                3. Введите полученный код на вашем мобильном устройстве<br>
                <em>(Код действителен в течение одной минуты)</em>
            </td>
        </tr>
    </table>
    <div style="margin-top:10px;text-align:center;">
        <button class="k-button" data-bind="click:closeWindow">Закрыть</button>
    </div>
</div>
