<div id="observation-data">
    <form>
        <div style="height:300px;overflow-y:scroll">
            <ul class="field-list">
                <li>
                    <label  for="reason">Цель наблюдения <span class="required-mark">*</span>
                        <span class="k-invalid-msg" data-for="Цель наблюдения"></span>
                        <textarea  class="k-textbox" id="reasonTextBox" name="Цель наблюдения" required="required"
                                   data-bind="value: reason" style="width: 100%; height: 250px"
                        ></textarea>
                    </label>
                </li>
            </ul>
        </div>
        <div style="margin-top:15px;text-align:center">
            <button type="button" class="k-button" data-bind="events:{click:save}">Сохранить</button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class="k-button" data-bind="events:{click:close}">Отказ</button>

        </div>
    </form>
</div>