<div class="pk_exams_div" id="deseases-tab">
    <div id="exams_deseases_grid" class="pk-grid  pk-grid-dblclick" style="width:100%;height:100%;font-size:0.9em;"
         data-role="grid"
         data-auto-bind="false"
         data-toolbar='[{ template: kendo.template($("#template-exams-deseases-toolbar").html()) }]'
         data-selectable="row"
         data-bind="source:gridDs"
         data-groupable="false"
         data-filterable="false"
         data-pageable="false"
         data-navigatable="true"
         data-sortable="true"
         data-columns='[
            {field: "id", title: "id",hidden: true },
            { field: "mkb", title: "МКБ", width: "7%"},
            { field: "mkb_name1", title: "Наименование", width:"30%"},
            { field: "mkb_name2", title: "Наименование", width:"30%"},
            { field: "date_first", title: "Первый раз",
                template:kendo.template($("#template-deseases-date-first").html())},
            { field: "date_last", title: "Последний раз",
                template:kendo.template($("#template-deseases-date-last").html())}
         ]'
    >
    </div>
    <!-- grid toolbar template -->
    <script type="text/x-kendo-template" id="template-exams-deseases-toolbar">
        <div class="form-inline toolbar" id="exams-deseases-toolbar">
            <label for='exams-deseases-period'>Период:</label>
            <input id='exams-deseases-period' style='width: 150px;'
                   data-role="dropdownlist"
                   data-text-field="text"
                   data-value-field="value"
                   data-bind="value: selectedPeriod,
                    source:periodDs"
            />
            &nbsp;
            &nbsp;
            <span>
                &nbsp;
                <button id="visit-delete" rel="tooltip" title="Печать таблицы"  class="k-button" type="button"
                        data-bind="events:{click: onPrintButtonClicked}">
                            <span>
                                <span class="k-icon k-i-printer k-icon-24"></span>
                            </span>
                </button>

            </span>
            <span class="pull-right">
                <button id="visit-refresh" rel="tooltip" title="Обновить спискок заболеваний"  class="k-button" type="button"
                                        data-bind="events:{click: onRefreshButtonClicked}">
                            <span>
                                <span class="k-icon k-i-refresh k-icon-24"></span>
                            </span>
                </button>
            </span>
        </div>
    </script>

</div>

<script type="text/x-kendo-template" id="template-deseases-date-first">
    <span style="font-weight:bold;"> #= kendo.toString(data.date_first,"yyyy.MMM") # </span> - <span style="font-size: inherit"> #=data.vrach_first # </span>
</script>
<script type="text/x-kendo-template" id="template-deseases-date-last">
    #if(kendo.toString(data.date_last,"yyyy.MMM")===kendo.toString(data.date_first,"yyyy.MMM")){#
    &nbsp;
    #}else{#
    <span style="font-weight:bold;"> #= kendo.toString(data.date_last,"yyyy.MMM") # </span> - <span style="font-size: inherit"> #=data.vrach_last # </span>
    #}#
</script>
<!--             { field: "date_first", title: "Дата", width: "10%", format: "{0:dd.MM.yyyy}"} -->
