<div class="pk_exams_div" id="visit-main-tab">
    <div id="visit_edit">
        <div data-role="splitter"
             data-panes="[
                        { collapsible: true, size:'40%' },
                        { collapsible: true }
                     ]"
             style="height:500px;width:100%;">
            <div id="left-pane">
                Left Pane
            </div>
            <div id="right-pane">
                Right Pane
            </div>

        </div>

    </div>
</div>
