<div id="usl-chooser-window">
    <div>
        <h5 id="usl-ksg" data-bind="text:ksgText" style="max-width:800px;"></h5>
    </div>
    <div id="usl-chooser-list" style="height:500px;width:800px;overflow-y: scroll;border:1px solid">

    </div>
    <div style="margin-top: 5px;margin-bottom: 5px;" id="usl-chooser-buttons">
        <button class="k-button" type="button" data-bind="click:doChoose">Сохранить</button>
        <span class="pull-right">
            <button class="k-button" type="button" data-bind="click:doClose">Отказ</button>
        </span>
    </div>
</div>
