<div id="services-page">
    <h4>Сервис</h4>
    <ul>
        <li><a href="#" data-bind="click:openPacs">PACS</a></li>
        <li><a href="#" data-bind="click:medicamOstatReport">Остатки медикаментов</a></li>
        <li><a href="#" data-bind="click:openLinks">Полезные ссылки</a></li>
        <li><a href="#" data-bind="click:openDictofon">Тест диктофона</a></li>
        <li><a href="#" data-bind="click:openMkbKsgChooser">Тест выбора МКБ-КСГ</a></li>
        <li><a href="#" data-bind="click:openSignTest">Тест подписи</a></li>
    </ul>
</div>